.main {
    background-color: crimson;

    .ads__container {
        color: white;
        width: 100%;
        column-count: 3;
        gap: 0px;
        padding: 10px 10px 0 0;

        .ad__card {
            background-color: darkcyan;
            border: 1px solid black;
            padding: 10px;
            margin: 0px 0px 10px 10px;
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: cyan;
    }
}
