$padding: 8px 16px;
$border-color: rgb(228, 228, 228);

* {
    box-sizing: border-box;
}

.accordion__container {
    width: 100%;
    background: #ffffff;
    border: 1px solid $border-color;
    margin-bottom: 10px;

    .accordion__header {
        display: flex;
        padding: $padding;
        border-bottom: 1px solid $border-color;

        &:hover {
            cursor: pointer;
        }

        .accordion__header-icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            margin-right: 10px;
        }

        .accordion__header-title {
            font-weight: 600;
        }

        .accordion__header-action-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            font-size: 12px;
        }
    }

    .accordion__content-container {
        overflow: hidden;
        border-bottom: 0px solid $border-color;

        .accordion__content {
            padding: $padding;
        }
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
