.zen-toast-container {
    background-color: transparent;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
    padding: 1rem;

    &__wrapper {
        padding: 0.5rem;
    }

    &__top-right {
        position: fixed;
        top: 0;
        right: 0;
        width: 30ch;
    }

    &__top-left {
        position: fixed;
        top: 0;
        left: 0;
        width: 30ch;
    }
    &__bottom-right {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 30ch;
    }
    &__bottom-left {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 30ch;
    }
    &__bottom-center {
        position: fixed;
        bottom: 0;
        left: calc(50% - 15ch);
        width: 30ch;
    }
    &__top-center {
        position: fixed;
        top: 0;
        left: calc(50% - 15ch);
        width: 30ch;
    }

    .zen-toast {
        padding: 8px 10px;

        background-color: rgba(128, 128, 128, 0.75);

        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        width: 100%;

        color: white;
    }

    .zen-toast + .zen-toast {
        margin-top: 5px;
    }

    .zt-error {
        background-color: rgba(255, 79, 79, 0.75);
    }
    .zt-info {
        background-color: rgba(79, 149, 255, 0.75);
    }
    .zt-success {
        background-color: rgba(52, 213, 35, 0.75);
    }
    .zt-warn {
        background-color: rgba(255, 191, 0, 0.75);
    }
}
