.ts__container {
    background-color: white;
    width: 2.9em;
    height: 1.3em;
    padding: 0.1em;
    overflow: hidden;
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
    box-shadow: inset 0 0.05em 0.12em 0 rgba(74, 74, 74, 0.58);

    &__thumbcontainer {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
        display: flex;

        &__thumb {
            position: absolute;
            height: 100%;
            aspect-ratio: 1/1;
            background-color: grey;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;

            &.light {
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                -ms-transform: translateX(0%);
                -o-transform: translateX(0%);

                background-color: orange;
                box-shadow: inset -0.03em -0.03em 5px 0px rgba(255, 255, 255, 0.5), 0.03em 0.03em 5px 0px rgba(0, 0, 0, 0.5);
            }

            &.dark {
                transform: translateX(145%);
                -webkit-transform: translateX(145%);
                -moz-transform: translateX(145%);
                -ms-transform: translateX(145%);
                -o-transform: translateX(145%);
            }
        }
    }
}
