.App {
  width: 100%;
  height: 100vh;
  background-color: #031023;
}

.header {
  width: 100%;
  height: 28px;
  background-color: rgb(42, 42, 42);
  color: white;
  position: fixed;
  z-index: 2;
  display: flex;
}

.body {
  display: flex;
  height: inherit;
}

.sidebar {
  width: 200px;
  background-color: rgb(63, 63, 63);
  height: auto;
  position: fixed;
  height: inherit;
  padding-top: 28px;
}

.filter {
  height: 75px;
}

.menu-container {
  height: calc(100% - 103px);
}

.sidebar-body {
  padding-left: 300px;
  padding-top: 100px;
}